.navbar {
    background-color: #ffffff !important;
    border-bottom: 1px solid #e0e0e0;
}

.brand-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.logo {
    height: 40px;
    margin-right: 10px;

}

.brand-name {
    color: #1a237e;
    font-weight: 600 !important;
    letter-spacing: 1px;
    
}

.nav-icons {
    display: flex;
    gap: 16px;
}

.nav-icons .MuiIconButton-root {
    color: #1a237e;
}

.nav-icons .MuiIconButton-root:hover {
    background-color: rgba(26, 35, 126, 0.04);
}