/* Welcome page container */
.welcome-container {
  text-align: center;
  padding: 20px;
  color: black; /* Black text for better contrast on white background */
  min-height: 100vh;
  background-color: white; /* Full screen height */
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5; /* Light background for the navbar */
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Search bar styling */
.search-container {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Navigation links styling */
.nav-links {
  display: flex;
  gap: 70px;
}

.nav-link {
  color: #45a09a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #398e86;
}

/* Welcome text styling */
.welcome-container h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-top: 10px;
}